
@{
    ViewBag.Title = "Display Path";
}

<div class="map">
    <canvas id="mapCanvas"></canvas>
    <script>
        var pathArray = window.location.pathname.split('/');
        var ip = pathArray[2]
        var port = pathArray[3]
        var updateInterval = 1000 * parseInt(pathArray[4])

        var lonArr = []
        var latArr = []


        function updatePath() {
            /// <summary>
            /// Updates the path.
            /// </summary>
            $.get('/location/' + ip + '/' + port, function (response) {
                var sp = response.split(",")
                var lon = parseFloat(sp[0])
                var lat = parseFloat(sp[1])

                lonArr.push(lon)
                latArr.push(lat)
                drawPath(lonArr, latArr)
            });
        }

        window.onload = function () {
            // Update the path every interval
            updatePath()
            setInterval(updatePath, updateInterval)
        }
    </script>
</div>

